{% extends 'admin/admin_base.html.twig' %}
{% block content %}

    <div class="blocFormAjout">
        <form action="" method="" class="formAjout">
            <label for="">entrez le nom de l'auteur : </label>
            <input type="text" name="firstname" id="firstname">
            <label for="">entrez le prénom de l'auteur : </label>
            <input type="text" name="lastname" id="lastname">
            <label for="">entrez un peu de bibliographie :</label>
            <input type="text" name="bibliographie" id="bibliographie">
            <label for="">entrez la date de naissance :</label>
            <input type="text" name="genre" id="genre">
            <label for="">entrez la date de mort :</label>
            <input type="text" name="nmbPages" id="nmbPages">
            <input type="button" value="Envoyer" class="boutton">
        </form>
    </div>

{% endblock %}