<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset('style.css') }}">
    <title>Document</title>

</head>
<body>

<!--le header-->
<header>
    <h1>Sombre Librairie</h1>
    <!--la barre de navigation-->
    <ul class="nav_barre">
        <li><a href="{{ path('accueil') }}">l'accueil</a></li>
        <li><a href="{{ path('authors_list') }}">les auteurs</a></li>
        <li><a href="{{ path('books_list') }}">les livres</a></li>
    </ul>
</header>

<!--le contenu-->
<div class="main">
    {% block content %}

    {% endblock content%}
</div>

<!--le footer-->
<footer>

</footer>
</body>
</html>