{% extends 'base.html.twig' %}
{% block content %}

    <div class="blocFormAjout">
        <form action="" method="" class="formAjout">
            <label for="">entrez le titre : </label>
            <input type="text" name="title" id="title">
            <label for="">entrez le résumé :</label>
            <input type="text" name="resume" id="resume">
            <label for="">entrez le genre :</label>
            <input type="text" name="genre" id="genre">
            <label for="">entrez le nombre de pages :</label>
            <input type="text" name="nmbPages" id="nmbPages">
        </form>
    </div>

{% endblock %}